/// Maps

/// Colours
/// Colours - Cream
$colour-cream-0: hsl(39, 54%, 91%);
$colour-cream-100: hsl(39, 54%, 81%);
$colour-cream-200: hsl(39, 54%, 71%);
$colour-cream-300: hsl(39, 54%, 61%);
$colour-cream-400: hsl(39, 54%, 51%);
$colour-cream-500: hsl(39, 54%, 41%);
$colour-cream-600: hsl(39, 54%, 31%);
$colour-cream-700: hsl(39, 54%, 21%);
$colour-cream-800: hsl(39, 54%, 11%);
$colour-cream-900: hsl(39, 54%, 1%);

$colour-creams: (
  "0": $colour-cream-0,
  "100": $colour-cream-100,
  "200": $colour-cream-200,
  "300": $colour-cream-300,
  "400": $colour-cream-400,
  "500": $colour-cream-500,
  "600": $colour-cream-600,
  "700": $colour-cream-700,
  "800": $colour-cream-800,
  "900": $colour-cream-900,
);

/// Colours - Tans
$colour-tan-0: hsl(39, 32%, 91%);
$colour-tan-100: hsl(39, 32%, 81%);
$colour-tan-200: hsl(39, 32%, 71%);
$colour-tan-300: hsl(38, 10%, 63%);
$colour-tan-400: hsl(38, 10%, 53%);
$colour-tan-500: hsl(38, 10%, 43%);
$colour-tan-600: hsl(38, 10%, 33%);
$colour-tan-700: hsl(38, 10%, 23%);
$colour-tan-800: hsl(38, 10%, 13%);
$colour-tan-900: hsl(38, 10%, 3%);

$colour-tans: (
  "0": $colour-tan-0,
  "100": $colour-tan-100,
  "200": $colour-tan-200,
  "300": $colour-tan-300,
  "400": $colour-tan-400,
  "500": $colour-tan-500,
  "600": $colour-tan-600,
  "700": $colour-tan-700,
  "800": $colour-tan-800,
  "900": $colour-tan-900,
);

/// Colours - Greens
$colour-green-0: hsl(59, 25%, 94%);
$colour-green-100: hsl(59, 25%, 84%);
$colour-green-200: hsl(59, 25%, 74%);
$colour-green-300: hsl(59, 25%, 64%);
$colour-green-400: hsl(59, 25%, 54%);
$colour-green-500: hsl(59, 25%, 44%);
$colour-green-600: hsl(59, 25%, 34%);
$colour-green-700: hsl(59, 25%, 24%);
$colour-green-800: hsl(59, 25%, 14%);
$colour-green-900: hsl(59, 25%, 04%);

$colour-greens: (
  "0": $colour-green-0,
  "100": $colour-green-100,
  "200": $colour-green-200,
  "300": $colour-green-300,
  "400": $colour-green-400,
  "500": $colour-green-500,
  "600": $colour-green-600,
  "700": $colour-green-700,
  "800": $colour-green-800,
  "900": $colour-green-900,
);

/// Colours - Browns
$colour-brown-0: hsl(30, 33%, 96%);
$colour-brown-100: hsl(30, 33%, 86%);
$colour-brown-200: hsl(30, 33%, 76%);
$colour-brown-300: hsl(30, 33%, 66%);
$colour-brown-400: hsl(30, 33%, 56%);
$colour-brown-500: hsl(30, 33%, 46%);
$colour-brown-600: hsl(30, 33%, 36%);
$colour-brown-700: hsl(30, 33%, 26%);
$colour-brown-800: hsl(30, 33%, 16%);
$colour-brown-900: hsl(30, 33%, 6%);

$colour-browns: (
  "0": $colour-brown-0,
  "100": $colour-brown-100,
  "200": $colour-brown-200,
  "300": $colour-brown-300,
  "400": $colour-brown-400,
  "500": $colour-brown-500,
  "600": $colour-brown-600,
  "700": $colour-brown-700,
  "800": $colour-brown-800,
  "900": $colour-brown-900,
);

/// Colours - Pinks
$colour-pink-0: hsl(20, 67%, 94%);
$colour-pink-100: hsl(20, 67%, 84%);
$colour-pink-200: hsl(20, 67%, 74%);
$colour-pink-300: hsl(20, 67%, 64%);
$colour-pink-400: hsl(20, 67%, 54%);
$colour-pink-500: hsl(20, 67%, 44%);
$colour-pink-600: hsl(20, 67%, 34%);
$colour-pink-700: hsl(20, 67%, 24%);
$colour-pink-800: hsl(20, 67%, 14%);
$colour-pink-900: hsl(20, 67%, 4%);

$colour-pinks: (
  "0": $colour-pink-0,
  "100": $colour-pink-100,
  "200": $colour-pink-200,
  "300": $colour-pink-300,
  "400": $colour-pink-400,
  "500": $colour-pink-500,
  "600": $colour-pink-600,
  "700": $colour-pink-700,
  "800": $colour-pink-800,
  "900": $colour-pink-900,
);

/// Colours - Blues
$colour-blue-0: hsl(175, 13%, 98%);
$colour-blue-100: hsl(175, 13%, 88%);
$colour-blue-200: hsl(175, 13%, 78%);
$colour-blue-300: hsl(175, 13%, 68%);
$colour-blue-400: hsl(175, 13%, 58%);
$colour-blue-500: hsl(175, 13%, 48%);
$colour-blue-600: hsl(175, 13%, 38%);
$colour-blue-700: hsl(175, 13%, 28%);
$colour-blue-800: hsl(175, 13%, 18%);
$colour-blue-900: hsl(175, 13%, 8%);

$colour-blues: (
  "0": $colour-blue-0,
  "100": $colour-blue-100,
  "200": $colour-blue-200,
  "300": $colour-blue-300,
  "400": $colour-blue-400,
  "500": $colour-blue-500,
  "600": $colour-blue-600,
  "700": $colour-blue-700,
  "800": $colour-blue-800,
  "900": $colour-blue-900,
);

/// Colours - Grays
$colour-gray-0: #ffffff;
$colour-gray-100: #e6e6e6;
$colour-gray-200: #cccccc;
$colour-gray-300: #b3b3b3;
$colour-gray-400: #999999;
$colour-gray-500: #808080;
$colour-gray-600: #666666;
$colour-gray-700: #4d4d4d;
$colour-gray-800: #333333;
$colour-gray-900: #202020;
$colour-gray-1000: #000000;

$colour-grays: (
  "0": $colour-gray-0,
  "100": $colour-gray-100,
  "200": $colour-gray-200,
  "300": $colour-gray-300,
  "400": $colour-gray-400,
  "500": $colour-gray-500,
  "600": $colour-gray-600,
  "700": $colour-gray-700,
  "800": $colour-gray-800,
  "900": $colour-gray-900,
  "1000": $colour-gray-1000,
);

/// Colours - Maps
$colours: (
  "cream": $colour-creams,
  "tan": $colour-tans,
  "green": $colour-greens,
  "brown": $colour-browns,
  "pink": $colour-pinks,
  "blue": $colour-blues,
  "gray": $colour-grays,
);

/// Fonts
/// Fonts - Font Families
$font-families: (
  "primary": #{"Inter",
  Arial,
  sans-serif},
  "secondary": #{"Playfair Display",
  "Times New Roman",
  serif},
  "monospace": #{"Inconsolata",
  "Courier New",
  monospace},
);

/// Fonts - Font Sizes
$font-sizes: (
  // Step -4: 0
  "0": 0,
  // Step -3: 10.42px → 10.24px
  "100": clamp(0.64rem, calc(0.66rem + -0.02vw), 0.65rem),
  // Step -2: 12.50px → 12.80px
  "200": clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem),
  // Step -1: 15.00px → 16.00px
  "300": clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem),
  // Step 0: 18.00px → 20.00px
  "400": clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem),
  // Step 1: 21.60px → 25.00px
  "500": clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem),
  // Step 2: 25.92px → 31.25px
  "600": clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem),
  // Step 3: 31.10px → 39.06px
  "700": clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem),
  // Step 4: 37.32px → 48.83px
  "800": clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem),
  // Step 5: 44.79px → 61.04px
  "900": clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem)
);

/// Fonts - Font Weights
$font-weights: (
  "100": 100,
  "thin": 100,
  "200": 200,
  "extra-light": 200,
  "300": 300,
  "light": 300,
  "400": 400,
  "regular": 400,
  "500": 500,
  "medium": 500,
  "600": 600,
  "semibold": 600,
  "700": 700,
  "bold": 700,
  "800": 800,
  "extrabold": 800,
  "900": 900,
  "black": 900,
);

/// Fonts - Font Styles
$font-styles: (
  "normal": normal,
  "italic": italic,
  "oblique": italic,
);

/// Text
/// Text - Text Decorations
$text-decorations: (
  "none": none,
  "underline": underline,
  "overline": overline,
  "line-through": line-through,
);

/// Text - Text Alignments
$text-aligns: (
  "left": left,
  "center": center,
  "right": right,
);

/// Text - Text Transforms
$text-transforms: (
  "none": none,
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
);

/// Breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 578px,
  "md": 768px,
  "lg": 844px,
  "xl": 992px,
  "xxl": 1200px,
  "xxxl": 1400px,
);

/// Spacers
/// Spacers - Direction
$spacer-directions: (
  "all": "all",
  "block": "block",
  "inline": "inline",
  "x": "x",
  "y": "y",
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

/// Spacers - Fixed Spacer
$fixed-spacers: (
  // Space 0: 0
  "0": 0,
  // Space 50: 2px → 2px
  "0": clamp(0.13rem, calc(0.13rem + 0vw), 0.13rem),
  // Space 100: 5px → 5px
  "100": clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem),
  // Space 200: 9px → 10px
  "200": clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem),
  // Space 300: 14px → 15px
  "300": clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem),
  // Space 400: 18px → 20px
  "400": clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem),
  // Space 500: 27px → 30px
  "500": clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem),
  // Space 600: 36px → 40px
  "600": clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem),
  // Space 700: 54px → 60px
  "700": clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem),
  // Space 800: 72px → 80px
  "800": clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem),
  // Space 900: 108px → 120px
  "900": clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem),
  // Space auto: auto
  "auto": auto
);

/// Spacers - Variable Spacer
$variable-spacers: (
  // Space 0: 0
  "0": 0,
  // Space 50: 2px → 2px
  "0": clamp(0.13em, calc(0.13em + 0vw), 0.13em),
  // Space 100: 5px → 5px
  "100": clamp(0.31em, calc(0.31em + 0vw), 0.31em),
  // Space 200: 9px → 10px
  "200": clamp(0.56em, calc(0.54em + 0.11vw), 0.63em),
  // Space 300: 14px → 15px
  "300": clamp(0.88em, calc(0.85em + 0.11vw), 0.94em),
  // Space 400: 18px → 20px
  "400": clamp(1.13em, calc(1.08em + 0.22vw), 1.25em),
  // Space 500: 27px → 30px
  "500": clamp(1.69em, calc(1.62em + 0.33vw), 1.88em),
  // Space 600: 36px → 40px
  "600": clamp(2.25em, calc(2.16em + 0.43vw), 2.5em),
  // Space 700: 54px → 60px
  "700": clamp(3.38em, calc(3.24em + 0.65vw), 3.75em),
  // Space 800: 72px → 80px
  "800": clamp(4.5em, calc(4.33em + 0.87vw), 5em),
  // Space 900: 108px → 120px
  "900": clamp(6.75em, calc(6.49em + 1.3vw), 7.5em),
  // Space auto: auto
  "auto": auto
);

/// Displays
$displays: (
  "none": none,
  "inline": inline,
  "block": block,
  "inline-block": inline-block,
  "flex": flex,
  "inline-flex": inline-flex,
  "grid": grid,
  "inline-grid": inline-grid,
);

/// Flex/Grid
/// Flex/Grid - Align Items
$grid-flex-align-items: (
  "normal": normal,
  "start": start,
  "center": center,
  "end": end,
  "stretch": stretch,
  "baseline": baseline,
  "flex-start": flex-start,
  "flex-end": flex-end,
);

/// Flex/Grid - Justify Contents
$flex-justify-contents: (
  "center": center,
  "space-between": space-between,
  "space-around": space-around,
  "space-evenly": space-evenly,
  "flex-start": flex-start,
  "flex-end": flex-end,
);

/// Flex/Grid - Justify Items
$grid-justify-items: (
  "inherit": inherit,
  "normal": normal,
  "stretch": stretch,
  "start": start,
  "left": left,
  "center": center,
  "right": right,
  "end": end,
);

/// Flex/Grid - Flex Wraps
$flex-wraps: (
  "nowrap": nowrap,
  "wrap": wrap,
  "reverse": wrap-reverse,
);

/// Box Shadows
/// Box Shadows - Directions
$box-shadow-directions: (
  "top": "t",
  "top-right": "tr",
  "right": "r",
  "bottom-right": "br",
  "bottom": "b",
  "bottom-left": "bl",
  "left": "l",
  "top-left": "tl",
);

/// Box Shadows - Fixed Weights
$box-shadow-f-weights: (
  "0": 0.01rem,
  "100": 0.03rem,
  "200": 0.05rem,
  "300": 0.1rem,
  "400": 0.15rem,
  "500": 0.2rem,
  "600": 0.25rem,
  "700": 0.5rem,
  "800": 0.75rem,
  "900": 1rem,
);

/// Box Shadows - Variable Weights
$box-shadow-v-weights: (
  "0": 0.01em,
  "100": 0.03em,
  "200": 0.05em,
  "300": 0.1em,
  "400": 0.15em,
  "500": 0.2em,
  "600": 0.25em,
  "700": 0.5em,
  "800": 0.75em,
  "900": 1em,
);

/// Border Radius
/// Border Radius - Directions
$border-radius-directions: (
  "all": "all",
  "top": "t",
  "top-right": "tr",
  "right": "r",
  "bottom-right": "br",
  "bottom": "b",
  "bottom-left": "bl",
  "left": "l",
  "top-left": "tl",
);

/// Border
/// Border - Directions
$border-directions: (
  "all": "all",
  "x": "x",
  "y": "y",
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

/// Border - Styles
$border-styles: (
  "none": none,
  "hidden": hidden,
  "dotted": dotted,
  "dashed": dashed,
  "solid": solid,
  "double": double,
  "groove": groove,
  "ridge": ridge,
  "inset": inset,
  "outset": outset,
);

/// Border - Fixed Weights
$border-f-weights: (
  "0": 0.01rem,
  "100": 0.03rem,
  "200": 0.05rem,
  "300": 0.1rem,
  "400": 0.15rem,
  "500": 0.2rem,
  "600": 0.25rem,
  "700": 0.5rem,
  "800": 0.75rem,
  "900": 1rem,
);

/// Border - Variable Weights
$border-v-weights: (
  "0": 0.01em,
  "100": 0.03em,
  "200": 0.05em,
  "300": 0.1em,
  "400": 0.15em,
  "500": 0.2em,
  "600": 0.25em,
  "700": 0.5em,
  "800": 0.75em,
  "900": 1em,
);
