/// Archive

.section-archive {
  &-hero {
    --_section-height: 80vh;
    --_section-bg-img: url(../assets/images/0029.png);

    color: theme("colors.white");
    background-color: theme("colors.tbbBlue.300");

    .section__wrapper {
      --_decoration-size: clamp(3em, calc(3.24em + 0.87em), 5em);
      --_decoration-bg-img: url(../assets/images/border-white.png);
      --_decoration-spacer: theme("spacing.6");

      background-image: var(--_section-bg-img);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      place-items: center;
      position: relative;

      &::before {
        content: "";
        width: var(--_decoration-size);
        height: var(--_decoration-size);
        background-image: var(--_decoration-bg-img);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: var(--_decoration-spacer);
        left: var(--_decoration-spacer);
      }

      &::after {
        content: "";
        width: var(--_decoration-size);
        height: var(--_decoration-size);
        background-image: var(--_decoration-bg-img);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        right: var(--_decoration-spacer);
        bottom: var(--_decoration-spacer);
        rotate: 180deg;
      }
    }

    &__body {
      max-width: 60ch;
      margin-inline: auto;
    }
  }

  &-content {
    &__heading {
      background-color: theme("colors.tbbTan.200");
      border-block-end: var(--_section-border);

      &__wrapper {
        text-align: center;
        letter-spacing: theme("letterSpacing.2");
        text-transform: uppercase;
      }
    }

    &__cards-grid {
      .card {
        --_card-border: thin solid theme("colors.neutral.50");

        border-block-start: var(--_card-border);
        border-block-end: var(--_card-border);
        border-inline-start: var(--_card-border);
        border-inline-end: var(--_card-border);

        &:nth-of-type(5n-1) {
          background-color: theme("colors.tbbBlue.300");
        }

        &:nth-of-type(5n-2) {
          background-color: theme("colors.tbbBrown.400");
        }

        &:nth-of-type(5n-3) {
          background-color: theme("colors.tbbGreen.300");
        }

        &:nth-of-type(5n-4) {
          background-color: theme("colors.tbbTan.400");
        }

        &:nth-of-type(5n-5) {
          background-color: theme("colors.tbbPink.200");
        }
      }
    }

    .card {
      background-color: theme("colors.tbbPink.200");
      display: grid;
      place-items: center;
    }

    a.card::after {
      content: "";
    }
  }
}
