:root {
  /* Colours */
  @each $key, $value in $map-colour {
    @each $cKey, $cValue in $value {
      --clr-#{$key}-#{$cKey}: #{$cValue};
    }
  }

  @each $key, $value in $map-brand-colour {
    --clr-brand-#{$key}: #{$value};
  }

  /* Font Families */
  @each $key, $value in $map-font-family {
    --ff-#{$key}: #{$value};
  }

  /* Font Weights */
  @each $key, $value in $map-font-weight {
    --fw-#{$key}: #{$value};
  }

  /* Font Styles */
  @each $key, $value in $map-font-style {
    --fs-#{$key}: #{$value};
  }

  /* Font Sizes */
  @each $key, $value in $map-font-size {
    --fz-#{$key}: #{$value};
  }

  /* Fixed Spacers */
  @each $key, $value in $map-spacer-fixed {
    --f-#{$key}: #{$value};
  }

  /* Fixed Spacers (One-up) */
  @each $key, $value in $map-spacer-fixed-one-up {
    --f-o-#{$key}: #{$value};
  }

  /* Variable Spacers */
  @each $key, $value in $map-spacer-variable {
    --v-#{$key}: #{$value};
  }

  /* Variable Spacers (One-up) */
  @each $key, $value in $map-spacer-variable-one-up {
    --v-o-#{$key}: #{$value};
  }

  /* Fixed Line Heights */
  @each $key, $value in $map-line-height-fixed {
    --lh-f-#{$key}: #{$value};
  }

  /* Variable Line Heights */
  @each $key, $value in $map-line-height-variable {
    --lh-v-#{$key}: #{$value};
  }

  /* Fixed Letter Spacings */
  @each $key, $value in $map-letter-spacing-fixed {
    --ls-f-#{$key}: #{$value};
  }

  /* Variable Letter Spacings */
  @each $key, $value in $map-letter-spacing-variable {
    --ls-v-#{$key}: #{$value};
  }

  /* Layers (Z-index) */
  @each $key, $value in $map-layer {
    --l-#{$key}: #{$value};
  }

  --wrapper-width: #{$breakpoint-xl};
}

body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fz-400);
}

:focus {
  outline: 3px solid var(--clr-orange-500);
}

p {
  line-height: 1.5;
}

strong {
  font-size: var(--fw-bold);
}

em {
  font-style: var(--fs-italic);
}

code {
  font-family: var(--ff-monospace);
}

small,
sup,
sub {
  font-size: 80%;
}

sup {
  vertical-align: top;
}

sub {
  vertical-align: bottom;
}

mark {
  --_bg-clr: var(--clr-yellow-100);

  background-color: var(--_bg-clr);
}

a {
  --_clr: var(--clr-blue-500);
  --_td: underline;

  --_hover-clr: var(--clr-blue-700);
  --_hover-td: underline;

  --_spacer: var(--v-200);

  display: inline-flex;
  align-items: center;
  gap: var(--_spacer);
  color: var(--_clr);
  text-decoration: var(--_td);

  &:hover {
    color: var(--_hover-clr);
    text-decoration: var(--_hover-td);
  }
}

.wrapper {
  --_width: var(--wrapper-width);

  width: var(--_width);
}

.container {
  --_name: container;

  container-name: var(--_name);
  container-type: inline-size;
}

.flow {
  --_spacer: var(--v-400);

  & > * + * {
    margin-top: var(--_spacer);
  }
}

.clickable {
  cursor: pointer;
}
