.text-grid {
  --_text-width: 20ch;
  --_spacer: var(--v-400);

  display: grid;
  grid-template-columns: var(--_text-width) auto;
  align-items: end;
  gap: var(--_spacer);
}

table {
  --_border: thin solid var(--clr-gray-300);
  --_spacer-block: var(--v-300);
  --_spacer-inline: var(--v-400);

  text-align: left;
  width: 100%;

  thead > tr:last-child {
    border-bottom: var(--_border);
  }

  tbody > tr {
    border-bottom: var(--_border);
  }

  tfoot > tr:first-child {
    border-top: var(--_border);
  }

  tfoot > tr:last-child {
    border-bottom: var(--_border);
  }

  caption,
  th,
  td {
    padding-block-start: var(--_spacer-block);
    padding-block-end: var(--_spacer-block);
    padding-inline-start: var(--_spacer-inline);
    padding-inline-end: var(--_spacer-inline);
  }

  caption {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding-block-start: var(--_spacer-block);
    padding-block-end: var(--_spacer-block);
    padding-inline-start: var(--_spacer-inline);
    padding-inline-end: var(--_spacer-inline);
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
  }

  th {
    text-align: left;
    font-weight: var(--fw-bold);
  }
}

.table-responsive {
  overflow-x: auto;
}
