.content-grid {
  --_width: var(--content-width);

  display: grid;
  grid-template-columns: 0.1fr [breakout-start] 0.2fr [content-start] 1fr [content-end] 0.2fr [breakout-end] 0.1fr;

  & > * {
    grid-column: content;
  }

  &-breakout {
    & > * {
      grid-column: breakout;
    }
  }

  &-full-width {
    & > * {
      grid-column: full-width;
    }
  }
}
