/// Maps

/// Maps - Colours
$colour-cream: (
  "0": $colour-cream-0,
  "100": $colour-cream-100,
  "200": $colour-cream-200,
  "300": $colour-cream-300,
  "400": $colour-cream-400,
  "500": $colour-cream-500,
  "600": $colour-cream-600,
  "700": $colour-cream-700,
  "800": $colour-cream-800,
  "900": $colour-cream-900,
);

$colour-tan: (
  "0": $colour-tan-0,
  "100": $colour-tan-100,
  "200": $colour-tan-200,
  "300": $colour-tan-300,
  "400": $colour-tan-400,
  "500": $colour-tan-500,
  "600": $colour-tan-600,
  "700": $colour-tan-700,
  "800": $colour-tan-800,
  "900": $colour-tan-900,
);

$colour-green: (
  "0": $colour-green-0,
  "100": $colour-green-100,
  "200": $colour-green-200,
  "300": $colour-green-300,
  "400": $colour-green-400,
  "500": $colour-green-500,
  "600": $colour-green-600,
  "700": $colour-green-700,
  "800": $colour-green-800,
  "900": $colour-green-900,
);

$colour-brown: (
  "0": $colour-brown-0,
  "100": $colour-brown-100,
  "200": $colour-brown-200,
  "300": $colour-brown-300,
  "400": $colour-brown-400,
  "500": $colour-brown-500,
  "600": $colour-brown-600,
  "700": $colour-brown-700,
  "800": $colour-brown-800,
  "900": $colour-brown-900,
);

$colour-pink: (
  "0": $colour-pink-0,
  "100": $colour-pink-100,
  "200": $colour-pink-200,
  "300": $colour-pink-300,
  "400": $colour-pink-400,
  "500": $colour-pink-500,
  "600": $colour-pink-600,
  "700": $colour-pink-700,
  "800": $colour-pink-800,
  "900": $colour-pink-900,
);

$colour-blue: (
  "0": $colour-blue-0,
  "100": $colour-blue-100,
  "200": $colour-blue-200,
  "300": $colour-blue-300,
  "400": $colour-blue-400,
  "500": $colour-blue-500,
  "600": $colour-blue-600,
  "700": $colour-blue-700,
  "800": $colour-blue-800,
  "900": $colour-blue-900,
);

$colour-gray: (
  "0": $colour-gray-0,
  "100": $colour-gray-100,
  "200": $colour-gray-200,
  "300": $colour-gray-300,
  "400": $colour-gray-400,
  "500": $colour-gray-500,
  "600": $colour-gray-600,
  "700": $colour-gray-700,
  "800": $colour-gray-800,
  "900": $colour-gray-900,
  "1000": $colour-gray-1000,
);

$map-colour: (
  "cream": $map-cream,
  "tan": $map-tan,
  "green": $map-green,
  "brown": $map-brown,
  "pink": $map-pink,
  "blue": $map-blue,
  "gray": $map-gray,
);

$map-brand-colour: (
  "html": $colour-html,
  "css": $colour-css,
  "bootstrap": $colour-bootstrap,
  "sass": $colour-sass,
  "javascript": $colour-javascript,
  "react": $colour-react,
  "astro": $colour-astro,
  "php": $colour-php,
  "laravel": $colour-laravel,
  "sql": $colour-sql,
);

/// Maps - Fonts
$map-font-family: (
  "sans-serif": $font-family-sans-serif,
  "serif": $font-family-serif,
  "monospace": $font-family-monospace,
);

$map-font-weight: (
  "thin": $font-weight-thin,
  "extra-light": $font-weight-extra-light,
  "light": $font-weight-light,
  "regular": $font-weight-regular,
  "medium": $font-weight-medium,
  "semi-bold": $font-weight-semi-bold,
  "bold": $font-weight-bold,
  "extra-bold": $font-weight-extra-bold,
  "black": $font-weight-black,
);

$map-font-style: (
  "normal": $font-style-normal,
  "italic": $font-style-italic,
  "oblique": $font-style-oblique,
);

$map-font-size: (
  "0": $font-size-0,
  "100": $font-size-100,
  "200": $font-size-200,
  "300": $font-size-300,
  "400": $font-size-400,
  "500": $font-size-500,
  "600": $font-size-600,
  "700": $font-size-700,
  "800": $font-size-800,
  "900": $font-size-900,
  "1000": $font-size-1000,
);

$map-font: (
  "font-family": $map-font-family,
  "font-weight": $map-font-weight,
  "font-style": $map-font-style,
  "font-size": $map-font-size,
);

/// Maps - Spacers
/// Spacers - Fixed
$map-spacer-fixed: (
  "auto": $spacer-fixed-auto,
  "0": $spacer-fixed-0,
  "100": $spacer-fixed-100,
  "200": $spacer-fixed-200,
  "300": $spacer-fixed-300,
  "400": $spacer-fixed-400,
  "500": $spacer-fixed-500,
  "600": $spacer-fixed-600,
  "700": $spacer-fixed-700,
  "800": $spacer-fixed-800,
  "900": $spacer-fixed-900,
  "1000": $spacer-fixed-1000,
);

$map-spacer-fixed-one-up: (
  "100-200": $spacer-fixed-one-up-100-200,
  "200-300": $spacer-fixed-one-up-200-300,
  "300-400": $spacer-fixed-one-up-300-400,
  "400-500": $spacer-fixed-one-up-400-500,
  "500-600": $spacer-fixed-one-up-500-600,
  "600-700": $spacer-fixed-one-up-600-700,
  "700-800": $spacer-fixed-one-up-700-800,
  "800-900": $spacer-fixed-one-up-800-900,
  "900-1000": $spacer-fixed-one-up-900-1000,
);

$map-spacer-variable: (
  "auto": $spacer-variable-auto,
  "0": $spacer-variable-0,
  "100": $spacer-variable-100,
  "200": $spacer-variable-200,
  "300": $spacer-variable-300,
  "400": $spacer-variable-400,
  "500": $spacer-variable-500,
  "600": $spacer-variable-600,
  "700": $spacer-variable-700,
  "800": $spacer-variable-800,
  "900": $spacer-variable-900,
  "1000": $spacer-variable-1000,
);

$map-spacer-variable-one-up: (
  "100-200": $spacer-variable-one-up-100-200,
  "200-300": $spacer-variable-one-up-200-300,
  "300-400": $spacer-variable-one-up-300-400,
  "400-500": $spacer-variable-one-up-400-500,
  "500-600": $spacer-variable-one-up-500-600,
  "600-700": $spacer-variable-one-up-600-700,
  "700-800": $spacer-variable-one-up-700-800,
  "800-900": $spacer-variable-one-up-800-900,
  "900-1000": $spacer-variable-one-up-900-1000,
);

$map-spacer: (
  "fixed": $map-spacer-fixed,
  "fixed-one-up": $map-spacer-fixed-one-up,
  "variable": $map-spacer-variable,
  "variable-one-up": $map-spacer-variable-one-up,
);

/// Maps - Text
$map-text-transform: (
  "none": $text-transform-none,
  "capitalize": $text-transform-capitalize,
  "uppercase": $text-transform-none,
  "lowercase": $text-transform-lowercase,
);

$map-text-decoration: (
  "none": $text-decoration-none,
  "underline": $text-decoration-underline,
  "overline": $text-decoration-overline,
  "line-through": $text-decoration-line-through,
);

$map-text-align: (
  "left": $text-align-left,
  "center": $text-align-center,
  "right": $text-align-right,
  "justify": $text-align-justify,
  "start": $text-align-start,
  "end": $text-align-end,
);

$map-text: (
  "text-transform": $map-text-transform,
  "text-decoration": $map-text-decoration,
  "text-align": $map-text-align,
);

/// Maps - Line Heights
$map-line-height-fixed: (
  "normal": $line-height-fixed-normal,
  "0": $line-height-fixed-0,
  "100": $line-height-fixed-100,
  "200": $line-height-fixed-200,
  "300": $line-height-fixed-300,
  "400": $line-height-fixed-400,
  "500": $line-height-fixed-500,
  "600": $line-height-fixed-600,
  "700": $line-height-fixed-700,
  "800": $line-height-fixed-800,
  "900": $line-height-fixed-900,
  "1000": $line-height-fixed-1000,
);

$map-line-height-variable: (
  "normal": $line-height-variable-normal,
  "0": $line-height-variable-0,
  "100": $line-height-variable-100,
  "200": $line-height-variable-200,
  "300": $line-height-variable-300,
  "400": $line-height-variable-400,
  "500": $line-height-variable-500,
  "600": $line-height-variable-600,
  "700": $line-height-variable-700,
  "800": $line-height-variable-800,
  "900": $line-height-variable-900,
  "1000": $line-height-variable-1000,
);

$map-line-height: (
  "fixed": $map-line-height-fixed,
  "variable": $map-line-height-variable,
);

/// Maps - Letter Spacings
$map-letter-spacing-fixed: (
  "normal": $letter-spacing-fixed-normal,
  "0": $letter-spacing-fixed-0,
  "100": $letter-spacing-fixed-100,
  "200": $letter-spacing-fixed-200,
  "300": $letter-spacing-fixed-300,
  "400": $letter-spacing-fixed-400,
  "500": $letter-spacing-fixed-500,
  "600": $letter-spacing-fixed-600,
  "700": $letter-spacing-fixed-700,
  "800": $letter-spacing-fixed-800,
  "900": $letter-spacing-fixed-900,
  "1000": $letter-spacing-fixed-1000,
);

$map-letter-spacing-variable: (
  "normal": $letter-spacing-variable-normal,
  "0": $letter-spacing-variable-0,
  "100": $letter-spacing-variable-100,
  "200": $letter-spacing-variable-200,
  "300": $letter-spacing-variable-300,
  "400": $letter-spacing-variable-400,
  "500": $letter-spacing-variable-500,
  "600": $letter-spacing-variable-600,
  "700": $letter-spacing-variable-700,
  "800": $letter-spacing-variable-800,
  "900": $letter-spacing-variable-900,
  "1000": $letter-spacing-variable-1000,
);

$map-letter-spacing: (
  "fixed": $map-letter-spacing-fixed,
  "variable": $map-letter-spacing-variable,
);

/// Maps - Breakpoints
$map-breakpoint: (
  "0": $breakpoint-0,
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "2xl": $breakpoint-2xl,
);

/// Maps - Positions
$map-position: (
  "static": $position-static,
  "relative": $position-relative,
  "absolute": $position-absolute,
  "fixed": $position-fixed,
  "sticky": $position-sticky,
);

/// Maps - Displays
$map-display: (
  "none": $display-none,
  "inline": $display-inline,
  "block": $display-block,
  "inline-block": $display-inline-block,
  "flex": $display-flex,
  "inline-flex": $display-inline-flex,
  "grid": $display-grid,
  "inline-grid": $display-inline-grid,
  "flow-root": $display-flow-root,
  "table": $display-table,
  "table-row": $display-table-row,
  "list-item": $display-list-item,
);

/// Maps - Layers
$map-layer: (
  "n-2": $layer-n-2,
  "n-1": $layer-n-1,
  "0": $layer-0,
  "1": $layer-1,
  "2": $layer-2,
  "3": $layer-3,
  "4": $layer-4,
  "5": $layer-5,
  "6": $layer-6,
  "7": $layer-7,
);

/// Maps - Flex
$map-align-items: (
  "normal": $align-items-normal,
  "stretch": $align-items-stretch,
  "center": $align-items-center,
  "start": $align-items-start,
  "end": $align-items-end,
  "flex-start": $align-items-flex-start,
  "flex-end": $align-items-flex-end,
);

$map-justify-content: (
  "center": $justify-content-center,
  "start": $justify-content-start,
  "end": $justify-content-end,
  "flex-start": $justify-content-flex-start,
  "flex-end": $justify-content-flex-end,
  "left": $justify-content-left,
  "right": $justify-content-right,
  "normal": $justify-content-normal,
  "space-between": $justify-content-space-between,
  "space-around": $justify-content-space-around,
  "space-evenly": $justify-content-space-evenly,
  "stretch": $justify-content-stretch,
);

$map-flex-direction: (
  "row": $flex-direction-row,
  "row-reverse": $flex-direction-row-reverse,
  "column": $flex-direction-column,
  "column-reverse": $flex-direction-column-reverse,
);

$map-flex-wrap: (
  "nowrap": $flex-wrap-nowrap,
  "wrap": $flex-wrap-wrap,
);

$map-flex: (
  "align-items": $map-align-items,
  "justify-content": $map-justify-content,
  "flex-direction": $map-flex-direction,
  "flex-wrap": $map-flex-wrap,
);

/// Maps - Grids
$map-justify-items: (
  "normal": $justify-items-normal,
  "stretch": $justify-items-stretch,
  "center": $justify-items-center,
  "start": $justify-items-start,
  "end": $justify-items-end,
  "flex-start": $justify-items-flex-start,
  "flex-end": $justify-items-flex-end,
  "left": $justify-items-left,
  "right": $justify-items-right,
);

$map-grid: (
  "align-items": $map-align-items,
  "justify-items": $map-justify-items,
);

/// Maps - Borders
$map-border-width: (
  "0": $border-width-0,
  "100": $border-width-100,
  "200": $border-width-200,
  "300": $border-width-300,
  "400": $border-width-400,
  "500": $border-width-500,
  "600": $border-width-600,
  "700": $border-width-700,
  "800": $border-width-800,
  "900": $border-width-900,
  "1000": $border-width-1000,
);

$map-border-style: (
  "none": $border-style-none,
  "hidden": $border-style-hidden,
  "dotted": $border-style-dotted,
  "dashed": $border-style-dashed,
  "solid": $border-style-solid,
  "double": $border-style-double,
  "groove": $border-style-groove,
  "ridge": $border-style-ridge,
  "inset": $border-style-inset,
  "outset": $border-style-outset,
);

$map-border: (
  "border-width": $map-border-width,
  "border-style": $map-border-style,
);

/// Maps - Outline
$map-outline-width: (
  "0": $outline-width-0,
  "100": $outline-width-100,
  "200": $outline-width-200,
  "300": $outline-width-300,
  "400": $outline-width-400,
  "500": $outline-width-500,
  "600": $outline-width-600,
  "700": $outline-width-700,
  "800": $outline-width-800,
  "900": $outline-width-900,
  "1000": $outline-width-1000,
);

$map-outline-style: (
  "none": $outline-style-none,
  "dotted": $outline-style-dotted,
  "dashed": $outline-style-dashed,
  "solid": $outline-style-solid,
  "double": $outline-style-double,
  "groove": $outline-style-groove,
  "ridge": $outline-style-ridge,
  "inset": $outline-style-inset,
  "outset": $outline-style-outset,
);

$map-outline: (
  "outline-width": $map-outline-width,
  "outline-style": $map-outline-style,
);

/// Maps - Directions
$map-direction: (
  "all": $direction-all,
  "block": $direction-block,
  "block-start": $direction-block-start,
  "block-end": $direction-block-end,
  "inline": $direction-inline,
  "inline-start": $direction-inline-start,
  "inline-end": $direction-inline-end,
  "y": $direction-y,
  "top": $direction-top,
  "bottom": $direction-bottom,
  "x": $direction-x,
  "left": $direction-left,
  "right": $direction-right,
);

/// Maps - Box Shadows
$map-box-shadow-fixed-width: (
  "0": $box-shadow-fixed-width-0,
  "100": $box-shadow-fixed-width-100,
  "200": $box-shadow-fixed-width-200,
  "300": $box-shadow-fixed-width-300,
  "400": $box-shadow-fixed-width-400,
  "500": $box-shadow-fixed-width-500,
  "600": $box-shadow-fixed-width-600,
  "700": $box-shadow-fixed-width-700,
  "800": $box-shadow-fixed-width-800,
  "900": $box-shadow-fixed-width-900,
  "1000": $box-shadow-fixed-width-1000,
);

$map-box-shadow-variable-width: (
  "0": $box-shadow-variable-width-0,
  "100": $box-shadow-variable-width-100,
  "200": $box-shadow-variable-width-200,
  "300": $box-shadow-variable-width-300,
  "400": $box-shadow-variable-width-400,
  "500": $box-shadow-variable-width-500,
  "600": $box-shadow-variable-width-600,
  "700": $box-shadow-variable-width-700,
  "800": $box-shadow-variable-width-800,
  "900": $box-shadow-variable-width-900,
  "1000": $box-shadow-variable-width-1000,
);

$map-box-shadow-direction: (
  "top": $box-shadow-direction-top,
  "right": $box-shadow-direction-right,
  "bottom": $box-shadow-direction-bottom,
  "left": $box-shadow-direction-left,
);

$map-box-shadow: (
  "fixed-width": $map-box-shadow-fixed-width,
  "variable-width": $map-box-shadow-variable-width,
  "direction": $map-box-shadow-direction,
);

/// Maps - Border Radiuses
$map-border-radius-direction: (
  "top-left": $border-radius-direction-top-left,
  "top-right": $border-radius-direction-top-right,
  "bottom-left": $border-radius-direction-bottom-left,
  "bottom-right": $border-radius-direction-bottom-right,
);

$map-border-radius: (
  "direction": $map-border-radius-direction,
);

/// Maps - Object Fits
$map-object-fit: (
  "contain": $object-fit-contain,
  "cover": $object-fit-cover,
  "fill": $object-fit-fill,
  "none": $object-fit-none,
  "scale-down": $object-fit-scale-down,
);

/// Maps - Aspect Ratios
$map-aspect-ratio: (
  "auto": $aspect-ratio-auto,
  "1-1": $aspect-ratio-1-1,
  "4-3": $aspect-ration-4-3,
  "16-9": $aspect-ratio-16-9,
  "16-10": $aspect-ratio-16-10,
  "21-9": $aspect-ratio-21-9,
  "3-4": $aspect-ratio-3-4,
  "9-16": $aspect-ratio-9-16,
  "10-16": $aspect-ratio-10-16,
  "9-21": $aspect-ratio-9-21,
);
