/// Styles Specific to the Project
body {
  color: theme("colors.neutral.800");
  background-color: theme("colors.tbbCream.100");
}

a {
  --_a-clr: theme("colors.neutral.700");
  --_a-td: underline;

  --_a-hover-clr: theme("colors.neutral.500");
  --_a-hover-td: underline;
}

time {
  color: theme("colors.neutral.500");
  font-weight: theme("fontWeight.semibold");
}

.btn {
  &-tbb {
    &Cream {
      --_btn-bg-clr: theme("colors.tbbCream.500");
      --_btn-border-clr: theme("colors.tbbCream.500");

      --_btn-hover-bg-clr: theme("colors.tbbCream.600");
      --_btn-hover-border-clr: theme("colors.tbbCream.600");
    }

    &Tan {
      --_btn-bg-clr: theme("colors.tbbTan.500");
      --_btn-border-clr: theme("colors.tbbTan.500");

      --_btn-hover-bg-clr: theme("colors.tbbTan.600");
      --_btn-hover-border-clr: theme("colors.tbbTan.600");
    }

    &Green {
      --_btn-bg-clr: theme("colors.tbbGreen.500");
      --_btn-border-clr: theme("colors.tbbGreen.500");

      --_btn-hover-bg-clr: theme("colors.tbbGreen.600");
      --_btn-hover-border-clr: theme("colors.tbbGreen.600");
    }

    &Brown {
      --_btn-bg-clr: theme("colors.tbbBrown.500");
      --_btn-border-clr: theme("colors.tbbBrown.500");

      --_btn-hover-bg-clr: theme("colors.tbbBrown.600");
      --_btn-hover-border-clr: theme("colors.tbbBrown.600");
    }

    &Pink {
      --_btn-bg-clr: theme("colors.tbbPink.500");
      --_btn-border-clr: theme("colors.tbbPink.500");

      --_btn-hover-bg-clr: theme("colors.tbbPink.600");
      --_btn-hover-border-clr: theme("colors.tbbPink.600");
    }

    &Blue {
      --_btn-bg-clr: theme("colors.tbbBlue.500");
      --_btn-border-clr: theme("colors.tbbBlue.500");

      --_btn-hover-bg-clr: theme("colors.tbbBlue.600");
      --_btn-hover-border-clr: theme("colors.tbbBlue.600");
    }
  }
}
