/// Variables

/// Variable - Colours
/// Colours - Slate
$colour-slate-0: #f8fafc;
$colour-slate-100: #f1f5f9;
$colour-slate-200: #e2e8f0;
$colour-slate-300: #cbd5e1;
$colour-slate-400: #94a3b8;
$colour-slate-500: #64748b;
$colour-slate-600: #475569;
$colour-slate-700: #334155;
$colour-slate-800: #1e293b;
$colour-slate-900: #0f172a;
$colour-slate-1000: #020617;

/// Colours - Grays
$colour-gray-0: #ffffff;
$colour-gray-100: #e6e6e6;
$colour-gray-200: #cccccc;
$colour-gray-300: #b3b3b3;
$colour-gray-400: #999999;
$colour-gray-500: #808080;
$colour-gray-600: #666666;
$colour-gray-700: #4d4d4d;
$colour-gray-800: #333333;
$colour-gray-900: #1a1a1a;
$colour-gray-1000: #000000;

/// Colours - Zinc
$colour-zinc-0: #fafafa;
$colour-zinc-100: #f4f4f5;
$colour-zinc-200: #e4e4e7;
$colour-zinc-300: #d4d4d8;
$colour-zinc-400: #a1a1aa;
$colour-zinc-500: #71717a;
$colour-zinc-600: #52525b;
$colour-zinc-700: #3f3f46;
$colour-zinc-800: #27272a;
$colour-zinc-900: #18181b;
$colour-zinc-1000: #030712;

/// Colours - Neutral
$colour-neutral-0: #fafafa;
$colour-neutral-100: #f5f5f5;
$colour-neutral-200: #e5e5e5;
$colour-neutral-300: #d4d4d4;
$colour-neutral-400: #a3a3a3;
$colour-neutral-500: #737373;
$colour-neutral-600: #525252;
$colour-neutral-700: #404040;
$colour-neutral-800: #262626;
$colour-neutral-900: #171717;
$colour-neutral-1000: #0a0a0a;

/// Colours - Stone
$colour-stone-0: #fafaf9;
$colour-stone-100: #f5f5f4;
$colour-stone-200: #e7e5e4;
$colour-stone-300: #d6d3d1;
$colour-stone-400: #a8a29e;
$colour-stone-500: #78716c;
$colour-stone-600: #57534e;
$colour-stone-700: #44403c;
$colour-stone-800: #292524;
$colour-stone-900: #1c1917;
$colour-stone-1000: #0c0a09;

/// Colours - Red
$colour-red-0: #fef2f2;
$colour-red-100: #fee2e2;
$colour-red-200: #fecaca;
$colour-red-300: #fca5a5;
$colour-red-400: #f87171;
$colour-red-500: #ef4444;
$colour-red-600: #dc2626;
$colour-red-700: #b91c1c;
$colour-red-800: #991b1b;
$colour-red-900: #7f1d1d;
$colour-red-1000: #450a0a;

/// Colours - Orange
$colour-orange-0: #fff7ed;
$colour-orange-100: #ffedd5;
$colour-orange-200: #fed7aa;
$colour-orange-300: #fdba74;
$colour-orange-400: #fb923c;
$colour-orange-500: #f97316;
$colour-orange-600: #ea580c;
$colour-orange-700: #c2410c;
$colour-orange-800: #9a3412;
$colour-orange-900: #7c2d12;
$colour-orange-1000: #431407;

/// Colours - Amber
$colour-amber-0: #fffbeb;
$colour-amber-100: #fef3c7;
$colour-amber-200: #fde68a;
$colour-amber-300: #fcd34d;
$colour-amber-400: #fbbf24;
$colour-amber-500: #f59e0b;
$colour-amber-600: #d97706;
$colour-amber-700: #b45309;
$colour-amber-800: #92400e;
$colour-amber-900: #78350f;
$colour-amber-1000: #451a03;

/// Colours - Yellow
$colour-yellow-0: #fefce8;
$colour-yellow-100: #fef9c3;
$colour-yellow-200: #fef08a;
$colour-yellow-300: #fde047;
$colour-yellow-400: #facc15;
$colour-yellow-500: #eab308;
$colour-yellow-600: #ca8a04;
$colour-yellow-700: #a16207;
$colour-yellow-800: #854d0e;
$colour-yellow-900: #713f12;
$colour-yellow-1000: #422006;

/// Colours - Lime
$colour-lime-0: #f7fee7;
$colour-lime-100: #ecfccb;
$colour-lime-200: #d9f99d;
$colour-lime-300: #bef264;
$colour-lime-400: #a3e635;
$colour-lime-500: #84cc16;
$colour-lime-600: #65a30d;
$colour-lime-700: #4d7c0f;
$colour-lime-800: #3f6212;
$colour-lime-900: #365314;
$colour-lime-1000: #1a2e05;

/// Colours - Green
$colour-green-0: #f0fdf4;
$colour-green-100: #dcfce7;
$colour-green-200: #bbf7d0;
$colour-green-300: #86efac;
$colour-green-400: #4ade80;
$colour-green-500: #22c55e;
$colour-green-600: #16a34a;
$colour-green-700: #15803d;
$colour-green-800: #166534;
$colour-green-900: #14532d;
$colour-green-1000: #052e16;

/// Colours - Emerald
$colour-emerald-0: #ecfdf5;
$colour-emerald-100: #d1fae5;
$colour-emerald-200: #a7f3d0;
$colour-emerald-300: #6ee7b7;
$colour-emerald-400: #34d399;
$colour-emerald-500: #10b981;
$colour-emerald-600: #059669;
$colour-emerald-700: #047857;
$colour-emerald-800: #065f46;
$colour-emerald-900: #064e3b;
$colour-emerald-1000: #022c22;

/// Colours - Teal
$colour-teal-0: #f0fdfa;
$colour-teal-100: #ccfbf1;
$colour-teal-200: #99f6e4;
$colour-teal-300: #5eead4;
$colour-teal-400: #2dd4bf;
$colour-teal-500: #14b8a6;
$colour-teal-600: #0d9488;
$colour-teal-700: #0f766e;
$colour-teal-800: #115e59;
$colour-teal-900: #134e4a;
$colour-teal-1000: #042f2e;

/// Colours - Cyan
$colour-cyan-0: #ecfeff;
$colour-cyan-100: #cffafe;
$colour-cyan-200: #a5f3fc;
$colour-cyan-300: #67e8f9;
$colour-cyan-400: #22d3ee;
$colour-cyan-500: #06b6d4;
$colour-cyan-600: #0891b2;
$colour-cyan-700: #0e7490;
$colour-cyan-800: #155e75;
$colour-cyan-900: #164e63;
$colour-cyan-1000: #083344;

/// Colours - Sky
$colour-sky-0: #f0f9ff;
$colour-sky-100: #e0f2fe;
$colour-sky-200: #bae6fd;
$colour-sky-300: #7dd3fc;
$colour-sky-400: #38bdf8;
$colour-sky-500: #0ea5e9;
$colour-sky-600: #0284c7;
$colour-sky-700: #0369a1;
$colour-sky-800: #075985;
$colour-sky-900: #0c4a6e;
$colour-sky-1000: #082f49;

/// Colours - Blue
$colour-blue-0: #eff6ff;
$colour-blue-100: #dbeafe;
$colour-blue-200: #bfdbfe;
$colour-blue-300: #93c5fd;
$colour-blue-400: #60a5fa;
$colour-blue-500: #3b82f6;
$colour-blue-600: #2563eb;
$colour-blue-700: #1d4ed8;
$colour-blue-800: #1e40af;
$colour-blue-900: #1e3a8a;
$colour-blue-1000: #172554;

/// Colours - Indigo
$colour-indigo-0: #eef2ff;
$colour-indigo-100: #e0e7ff;
$colour-indigo-200: #c7d2fe;
$colour-indigo-300: #a5b4fc;
$colour-indigo-400: #818cf8;
$colour-indigo-500: #6366f1;
$colour-indigo-600: #4f46e5;
$colour-indigo-700: #4338ca;
$colour-indigo-800: #3730a3;
$colour-indigo-900: #312e81;
$colour-indigo-1000: #1e1b4b;

/// Colours - Violet
$colour-violet-0: #f5f3ff;
$colour-violet-100: #ede9fe;
$colour-violet-200: #ddd6fe;
$colour-violet-300: #c4b5fd;
$colour-violet-400: #a78bfa;
$colour-violet-500: #8b5cf6;
$colour-violet-600: #7c3aed;
$colour-violet-700: #6d28d9;
$colour-violet-800: #5b21b6;
$colour-violet-900: #4c1d95;
$colour-violet-1000: #2e1065;

/// Colours - Purple
$colour-purple-0: #faf5ff;
$colour-purple-100: #f3e8ff;
$colour-purple-200: #e9d5ff;
$colour-purple-300: #d8b4fe;
$colour-purple-400: #c084fc;
$colour-purple-500: #a855f7;
$colour-purple-600: #9333ea;
$colour-purple-700: #7e22ce;
$colour-purple-800: #6b21a8;
$colour-purple-900: #581c87;
$colour-purple-1000: #3b0764;

/// Colours - Fuchsia
$colour-fuchsia-0: #fdf4ff;
$colour-fuchsia-100: #fae8ff;
$colour-fuchsia-200: #f5d0fe;
$colour-fuchsia-300: #f0abfc;
$colour-fuchsia-400: #e879f9;
$colour-fuchsia-500: #d946ef;
$colour-fuchsia-600: #c026d3;
$colour-fuchsia-700: #a21caf;
$colour-fuchsia-800: #86198f;
$colour-fuchsia-900: #701a75;
$colour-fuchsia-1000: #4a044e;

/// Colours - Pink
$colour-pink-0: #fdf2f8;
$colour-pink-100: #fce7f3;
$colour-pink-200: #fbcfe8;
$colour-pink-300: #f9a8d4;
$colour-pink-400: #f472b6;
$colour-pink-500: #ec4899;
$colour-pink-600: #db2777;
$colour-pink-700: #be185d;
$colour-pink-800: #9d174d;
$colour-pink-900: #831843;
$colour-pink-1000: #500724;

/// Colours - Rose
$colour-rose-0: #fff1f2;
$colour-rose-100: #ffe4e6;
$colour-rose-200: #fecdd3;
$colour-rose-300: #fda4af;
$colour-rose-400: #fb7185;
$colour-rose-500: #f43f5e;
$colour-rose-600: #e11d48;
$colour-rose-700: #be123c;
$colour-rose-800: #9f1239;
$colour-rose-900: #881337;
$colour-rose-1000: #4c0519;

/// Colours - Brands
$colour-html: #e34f26;
$colour-css: #2465f1;
$colour-bootstrap: #58407e;
$colour-sass: #cd669a;
$colour-javascript: #f7df1e;
$colour-react: #00d8ff;
$colour-astro: #f75406;
$colour-php: #8892be;
$colour-laravel: #f55247;
$colour-sql: #00758f;

/// Variables - Fonts
/// Fonts - Families
$font-family-sans-serif: #{Inter, Arial, sans-serif};
$font-family-serif: #{'"Playfair Display"', '"Times New Roman"', serif};
$font-family-monospace: #{Inconsolata, '"Courier New"', monospace};

/// Fonts - Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

/// Fonts - Styles
$font-style-normal: normal;
$font-style-italic: italic;
$font-style-oblique: oblique;

/// Fonts - Sizes
$font-size-0: 0rem;
$font-size-100: clamp(0.64rem, calc(0.66rem + 0.02vw), 0.65rem);
$font-size-200: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
$font-size-300: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
$font-size-400: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
$font-size-500: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
$font-size-600: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
$font-size-700: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
$font-size-800: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
$font-size-900: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
$font-size-1000: clamp(3.36rem, calc(2.87rem + 2.45vw), 4.77rem);

/// Variables - Spacers
/// Spacers - Fixed
$spacer-fixed-auto: auto;
$spacer-fixed-0: 0rem;
$spacer-fixed-100: clamp(0.13rem, calc(0.13rem + 0vw), 0.13rem);
$spacer-fixed-200: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
$spacer-fixed-300: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
$spacer-fixed-400: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
$spacer-fixed-500: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
$spacer-fixed-600: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
$spacer-fixed-700: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
$spacer-fixed-800: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
$spacer-fixed-900: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
$spacer-fixed-1000: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);

/// Spacers - Fixed, One-up
$spacer-fixed-one-up-100-200: clamp(0.13rem, calc(0.06rem + 0.33vw), 0.31rem);
$spacer-fixed-one-up-200-300: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
$spacer-fixed-one-up-300-400: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
$spacer-fixed-one-up-400-500: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
$spacer-fixed-one-up-500-600: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
$spacer-fixed-one-up-600-700: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
$spacer-fixed-one-up-700-800: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
$spacer-fixed-one-up-800-900: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
$spacer-fixed-one-up-900-1000: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

/// Spacers - Variable
$spacer-variable-auto: auto;
$spacer-variable-0: 0em;
$spacer-variable-100: clamp(0.13em, calc(0.13em + 0vw), 0.13em);
$spacer-variable-200: clamp(0.31em, calc(0.31em + 0vw), 0.31em);
$spacer-variable-300: clamp(0.56em, calc(0.54em + 0.11vw), 0.63em);
$spacer-variable-400: clamp(0.88em, calc(0.85em + 0.11vw), 0.94em);
$spacer-variable-500: clamp(1.13em, calc(1.08em + 0.22vw), 1.25em);
$spacer-variable-600: clamp(1.69em, calc(1.62em + 0.33vw), 1.88em);
$spacer-variable-700: clamp(2.25em, calc(2.16em + 0.43vw), 2.5em);
$spacer-variable-800: clamp(3.38em, calc(3.24em + 0.65vw), 3.75em);
$spacer-variable-900: clamp(4.5em, calc(4.33em + 0.87vw), 5em);
$spacer-variable-1000: clamp(6.75em, calc(6.49em + 1.3vw), 7.5em);

/// Spacers - Variable, One-up
$spacer-variable-one-up-100-200: clamp(0.13em, calc(0.06em + 0.33vw), 0.31em);
$spacer-variable-one-up-200-300: clamp(0.31em, calc(0.2em + 0.54vw), 0.63em);
$spacer-variable-one-up-300-400: clamp(0.56em, calc(0.43em + 0.65vw), 0.94em);
$spacer-variable-one-up-400-500: clamp(0.88em, calc(0.74em + 0.65vw), 1.25em);
$spacer-variable-one-up-500-600: clamp(1.13em, calc(0.86em + 1.3vw), 1.88em);
$spacer-variable-one-up-600-700: clamp(1.69em, calc(1.4em + 1.41vw), 2.5em);
$spacer-variable-one-up-700-800: clamp(2.25em, calc(1.73em + 2.61vw), 3.75em);
$spacer-variable-one-up-800-900: clamp(3.38em, calc(2.81em + 2.83vw), 5em);
$spacer-variable-one-up-900-1000: clamp(4.5em, calc(3.46em + 5.22vw), 7.5em);

/// Variables - Text
/// Text - Transforms
$text-transform-none: none;
$text-transform-capitalize: capitalize;
$text-transform-uppercase: uppercase;
$text-transform-lowercase: lowercase;

/// Text - Decorations
$text-decoration-none: none;
$text-decoration-underline: underline;
$text-decoration-overline: overline;
$text-decoration-line-through: line-through;

/// Text - Aligns
$text-align-left: left;
$text-align-center: center;
$text-align-right: right;
$text-align-justify: justify;
$text-align-start: start;
$text-align-end: end;

/// Variables - Line Heights
/// Line Heights - Fixed
$line-height-fixed-normal: normal;
$line-height-fixed-0: 0;
$line-height-fixed-100: 0.1rem;
$line-height-fixed-200: 0.3rem;
$line-height-fixed-300: 0.5rem;
$line-height-fixed-400: 1rem;
$line-height-fixed-500: 1.5rem;
$line-height-fixed-600: 2rem;
$line-height-fixed-700: 2.5rem;
$line-height-fixed-800: 3rem;
$line-height-fixed-900: 4rem;
$line-height-fixed-1000: 6rem;

/// Line Heights - Variable
$line-height-variable-normal: normal;
$line-height-variable-0: 0;
$line-height-variable-100: 0.1em;
$line-height-variable-200: 0.3em;
$line-height-variable-300: 0.5em;
$line-height-variable-400: 1em;
$line-height-variable-500: 1.5em;
$line-height-variable-600: 2em;
$line-height-variable-700: 2.5em;
$line-height-variable-800: 3em;
$line-height-variable-900: 4em;
$line-height-variable-1000: 6em;

/// Variables - Letter Spacings
/// Letter Spacings - Fixed
$letter-spacing-fixed-normal: normal;
$letter-spacing-fixed-0: 0;
$letter-spacing-fixed-100: 0.05rem;
$letter-spacing-fixed-200: 0.1rem;
$letter-spacing-fixed-300: 0.3rem;
$letter-spacing-fixed-400: 0.5rem;
$letter-spacing-fixed-500: 0.8rem;
$letter-spacing-fixed-600: 1rem;
$letter-spacing-fixed-700: 1.5rem;
$letter-spacing-fixed-800: 2rem;
$letter-spacing-fixed-900: 3rem;
$letter-spacing-fixed-1000: 4rem;

/// Letter Spacings - Variable
$letter-spacing-variable-normal: normal;
$letter-spacing-variable-0: 0;
$letter-spacing-variable-100: 0.05em;
$letter-spacing-variable-200: 0.1em;
$letter-spacing-variable-300: 0.3em;
$letter-spacing-variable-400: 0.5em;
$letter-spacing-variable-500: 0.8em;
$letter-spacing-variable-600: 1em;
$letter-spacing-variable-700: 1.5em;
$letter-spacing-variable-800: 2em;
$letter-spacing-variable-900: 3em;
$letter-spacing-variable-1000: 4em;

/// Variables - Breakpoints
$breakpoint-0: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

/// Variables - Positions
$position-static: static;
$position-relative: relative;
$position-absolute: absolute;
$position-fixed: fixed;
$position-sticky: sticky;

/// Variables - Displays
$display-none: none;
$display-inline: inline;
$display-block: block;
$display-inline-block: inline-block;
$display-flex: flex;
$display-inline-flex: inline-flex;
$display-grid: grid;
$display-inline-grid: inline-grid;
$display-flow-root: flow-root;
$display-table: table;
$display-table-row: table-row;
$display-list-item: list-item;

/// Variables - Layers (Z-index)
$layer-n-2: -2;
$layer-n-1: -1;
$layer-0: 0;
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;
$layer-6: 6;
$layer-7: 7;

/// Variables - Flex
/// Flex - Align Items
$align-items-normal: normal;
$align-items-stretch: stretch;
$align-items-center: center;
$align-items-start: start;
$align-items-end: end;
$align-items-flex-start: flex-start;
$align-items-flex-end: flex-end;

/// Flex - Justify Content
$justify-content-center: center;
$justify-content-start: start;
$justify-content-end: end;
$justify-content-flex-start: flex-start;
$justify-content-flex-end: flex-end;
$justify-content-left: left;
$justify-content-right: right;
$justify-content-normal: normal;
$justify-content-space-between: space-between;
$justify-content-space-around: space-around;
$justify-content-space-evenly: space-evenly;
$justify-content-stretch: stretch;

/// Flex - Flex Direction
$flex-direction-row: row;
$flex-direction-row-reverse: row-reverse;
$flex-direction-column: column;
$flex-direction-column-reverse: column-reverse;

/// Flex - Flex Wrap
$flex-wrap-nowrap: nowrap;
$flex-wrap-wrap: wrap;

/// Variables - Grid
/// Grid - Justify Items
$justify-items-normal: normal;
$justify-items-stretch: stretch;
$justify-items-center: center;
$justify-items-start: start;
$justify-items-end: end;
$justify-items-flex-start: flex-start;
$justify-items-flex-end: flex-end;
$justify-items-left: left;
$justify-items-right: right;

/// Variables - Borders
/// Borders - Widths
$border-width-0: 0;
$border-width-100: 1px;
$border-width-200: 2px;
$border-width-300: 3px;
$border-width-400: 6px;
$border-width-500: 0.1rem;
$border-width-600: 0.1em;
$border-width-700: 0.5rem;
$border-width-800: 0.5em;
$border-width-900: 1rem;
$border-width-1000: 1em;

/// Borders - Styles
$border-style-none: none;
$border-style-hidden: hidden;
$border-style-dotted: dotted;
$border-style-dashed: dashed;
$border-style-solid: solid;
$border-style-double: double;
$border-style-groove: groove;
$border-style-ridge: ridge;
$border-style-inset: inset;
$border-style-outset: outset;

/// Variables - Outlines
/// Outlines - Widths
$outline-width-0: 0;
$outline-width-100: 1px;
$outline-width-200: 2px;
$outline-width-300: 3px;
$outline-width-400: 6px;
$outline-width-500: 0.1rem;
$outline-width-600: 0.1em;
$outline-width-700: 0.5rem;
$outline-width-800: 0.5em;
$outline-width-900: 1rem;
$outline-width-1000: 1em;

/// Outlines - Styles
$outline-style-auto: auto;
$outline-style-none: none;
$outline-style-dotted: dotted;
$outline-style-dashed: dashed;
$outline-style-solid: solid;
$outline-style-double: double;
$outline-style-groove: groove;
$outline-style-ridge: ridge;
$outline-style-inset: inset;
$outline-style-outset: outset;

/// Variables - Directions
$direction-all: "";
$direction-block: "block";
$direction-block-start: "block-start";
$direction-block-end: "block-end";
$direction-inline: "inline";
$direction-inline-start: "inline-start";
$direction-inline-end: "inline-end";
$direction-y: "y";
$direction-top: "top";
$direction-bottom: "bottom";
$direction-x: "x";
$direction-left: "left";
$direction-right: "right";

/// Variables - Box Shadows
/// Box Shadows - Fixed Widths
$box-shadow-fixed-width-0: 0rem;
$box-shadow-fixed-width-100: 0.01rem;
$box-shadow-fixed-width-200: 0.03rem;
$box-shadow-fixed-width-300: 0.05rem;
$box-shadow-fixed-width-400: 0.1rem;
$box-shadow-fixed-width-500: 0.15rem;
$box-shadow-fixed-width-600: 0.2rem;
$box-shadow-fixed-width-700: 0.25rem;
$box-shadow-fixed-width-800: 0.5rem;
$box-shadow-fixed-width-900: 0.75rem;
$box-shadow-fixed-width-1000: 1rem;

/// Box Shadows - Variable Widths
$box-shadow-variable-width-0: 0rem;
$box-shadow-variable-width-100: 0.01rem;
$box-shadow-variable-width-200: 0.03rem;
$box-shadow-variable-width-300: 0.05rem;
$box-shadow-variable-width-400: 0.1rem;
$box-shadow-variable-width-500: 0.15rem;
$box-shadow-variable-width-600: 0.2rem;
$box-shadow-variable-width-700: 0.25rem;
$box-shadow-variable-width-800: 0.5rem;
$box-shadow-variable-width-900: 0.75rem;
$box-shadow-variable-width-1000: 1rem;

/// Box Shadows - Directions
$box-shadow-direction-top: $direction-top;
$box-shadow-direction-right: $direction-right;
$box-shadow-direction-bottom: $direction-bottom;
$box-shadow-direction-left: $direction-left;

/// Variables - Border Radiuses
/// Border Radius - Directions
$border-radius-direction-top-left: "top-left";
$border-radius-direction-top-right: "top-right";
$border-radius-direction-bottom-left: "bottom-left";
$border-radius-direction-bottom-right: "bottom-right";

/// Variables - Object Fits
$object-fit-contain: contain;
$object-fit-cover: cover;
$object-fit-fill: fill;
$object-fit-none: none;
$object-fit-scale-down: scale-down;

/// Variables - Aspect Ratio
$aspect-ratio-auto: auto;
$aspect-ratio-1-1: #{1/1};
$aspect-ration-4-3: #{4/3};
$aspect-ratio-16-9: #{16/9};
$aspect-ratio-16-10: #{16/10};
$aspect-ratio-21-9: #{21/9};
$aspect-ratio-3-4: #{3/4};
$aspect-ratio-9-16: #{9/16};
$aspect-ratio-10-16: #{10/16};
$aspect-ratio-9-21: #{9/21};
