/// Backgrounds
.bg-full {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {
  --_bg-image: url(/src/assets/images/0002.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--_bg-image);
  background-color: var(--clr-gray-1000);
}

.bg-hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  & > * {
    position: relative;
    z-index: var(--l-0);
  }
}

.bg-0001 {
  background-image: url(/src/assets/images/0001.jpg);
}

.bg-0002 {
  background-image: url(/src/assets/images/0002.jpg);
}

.bg-0003 {
  background-image: url(/src/assets/images/0003.jpg);
}

.bg-0004 {
  background-image: url(/src/assets/images/0004.jpg);
}

.bg-0005 {
  background-image: url(/src/assets/images/0005.jpg);
}

.bg-0006 {
  background-image: url(/src/assets/images/0006.jpg);
}

.bg-0007 {
  background-image: url(/src/assets/images/0007.jpg);
}

.bg-0008 {
  background-image: url(/src/assets/images/0008.jpg);
}

.bg-0009 {
  background-image: url(/src/assets/images/0009.jpg);
}

.bg-0010 {
  background-image: url(/src/assets/images/0010.jpg);
}

.bg-0011 {
  background-image: url(/src/assets/images/0011.jpg);
}

.bg-0012 {
  background-image: url(/src/assets/images/0012.jpg);
}

.bg-0013 {
  background-image: url(/src/assets/images/0013.jpg);
}

.bg-0014 {
  background-image: url(/src/assets/images/0014.jpg);
}

.bg-0015 {
  background-image: url(/src/assets/images/0015.jpg);
}

.bg-0016 {
  background-image: url(/src/assets/images/0016.jpg);
}

.bg-0017 {
  background-image: url(/src/assets/images/0017.jpg);
}

.bg-0018 {
  background-image: url(/src/assets/images/0018.jpg);
}

.bg-0019 {
  background-image: url(/src/assets/images/0019.jpg);
}

.bg-0020 {
  background-image: url(/src/assets/images/0020.jpg);
}

.bg-0021 {
  background-image: url(/src/assets/images/0021.jpg);
}

.bg-0022 {
  background-image: url(/src/assets/images/0022.jpg);
}

.bg-0023 {
  background-image: url(/src/assets/images/0023.jpg);
}

.bg-0024 {
  background-image: url(/src/assets/images/0024.jpg);
}

.bg-0025 {
  background-image: url(/src/assets/images/0025.jpg);
}

.bg-0026 {
  background-image: url(/src/assets/images/0026.jpg);
}
