.primary-header {
  top: 0;
  position: sticky;
  background-color: var(--clr-cream-0);
  font-family: var(--ff-serif);
  border-bottom: thin solid var(--clr-gray-200);

  .wrapper {
    border-inline-start: thin solid var(--clr-gray-200);
    border-inline-end: thin solid var(--clr-gray-200);
  }

  a {
    --_clr: var(--clr-gray-700);
    --_td: none;

    --_hover-clr: var(--clr-gray-700);
    --_hover-td: underline;

    &.brand {
      display: flex;
      align-items: center;
      gap: var(--v-400);
      .graphic {
        min-height: 0.3em;
        min-width: 8ch;
        display: flex;
        .small-arrow {
          flex: 1 1 10%;
        }
        .long-arrow {
          flex: 1 1 90%;
        }
        &-left {
          .small-arrow {
            border-top: 0.15em solid transparent;
            border-left: 0.3em solid var(--clr-gray-700);
            border-bottom: 0.15em solid transparent;
          }
          .long-arrow {
            flex: 1 1 90%;
            border-top: 0.15em solid transparent;
            border-right: 5em solid var(--clr-gray-700);
            border-bottom: 0.15em solid transparent;
          }
        }
        &-right {
          .small-arrow {
            border-top: 0.15em solid transparent;
            border-right: 0.3em solid var(--clr-gray-700);
            border-bottom: 0.15em solid transparent;
          }
          .long-arrow {
            flex: 1 1 90%;
            border-top: 0.15em solid transparent;
            border-left: 5em solid var(--clr-gray-700);
            border-bottom: 0.15em solid transparent;
          }
        }
      }

      .title {
        display: block;
        min-width: 13ch;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--v-600);
  }
}
