/// Hero
.hero {
  //   min-height: calc(100vh - var(--header-height));

  .bg {
    --_bg-image: url(/src/assets/images/0002.jpg);

    min-height: calc(80vh - var(--header-height));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--_bg-image);
    background-color: var(--clr-gray-1000);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--v-400);
  }

  &__content {
    color: var(--clr-gray-0);
    max-width: min(100%, 60ch);

    &__heading {
      font-family: var(--ff-serif);
      font-size: var(--fz-900);
    }

    &__subtitle {
      font-size: var(--fz-600);
    }
  }
}
